.menu_header {
  display: flex;
  width: 90%;
  justify-content: flex-start;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  & i {
    font-size: 1.8em;
    margin-right: 50px;
    color: black;
    &:active {
      color: $color-tertiary;
    }
  }
}

.img-menu1 {
  @include img-menu;
  background-image: url(../images/la_palette_du_gout.jpg);
}
.container {
  width: 100%;
  background-color: $color-bg;
  margin-top: -50px;
  margin-bottom: -50px;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  &__menu {
    width: 90%;
    padding: 0px;
    margin: 0px;
    display: flex;
    flex-direction: column;
    @media (min-width: 500px) {
      max-width: 500px;
    }
    @media (min-width: 1024px) {
      max-width: 90%;
      height: 500px;
      flex-flow: row wrap;
      justify-content: space-around;
    }
  }
}
.container__menu--box {
  @media (min-width: 1024px) {
    display: flex;
    width: 300px;
    flex-flow: column wrap;
  }
}

.menu-title {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 30px;
  & h2 {
    @include font-logo;
    display: flex;
    justify-content: flex-start;
    font-size: 1.5em;
    margin: 0px;
    padding: 0px;
  }
}
.menu-title i {
  font-size: 1.6em;
  margin-right: 10px;
}

.container__menu--box h3 {
  @include font-text-thin;
  font-size: 1.4em;
  width: 40px;
  height: 33px;
  margin-bottom: 20px;
  border-bottom: 3px solid $color-tertiary;
}

.cont-menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: 70px;
  background-color: white;
  margin-bottom: 20px;
  border-radius: 15px;
  box-shadow: 3px 2px 2px silver;
  position: relative;
}

.cont-1,
.cont-2,
.cont-3,
.cont-4 {
  animation: plat 3s ease-in-out;
}
.cont-1 {
  animation-delay: -1.5s;
}
.cont-2 {
  animation-delay: -1s;
}
.cont-3 {
  animation-delay: -0.5s;
}
.cont-4 {
  animation-delay: -0.3s;
}
@keyframes plat {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.cont-menu h4 {
  @include font-text;
  margin: 10px 0px 5px 10px;
  margin-top: 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.cont-menu p {
  font-size: 0.9em;
  margin: 0px 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.cont-menu__checkbox {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  opacity: 0;
  &:hover {
    cursor: pointer;
  }
}
.cont-menu__animate {
  width: 100%;
  position: relative;
  overflow: hidden;
}
.cont-menu__checkbox:checked + .cont-menu__animate .cont-menu__check {
  animation: check-pos 1s ease-in-out forwards;
}
.cont-menu__animate--text {
  display: flex;
  border-radius: 15px;
  width: 100%;
  height: 90%;
}
.cont-menu__checkbox:checked + .cont-menu__animate .cont-menu__animate--text {
  animation: check-reduc 1s ease-in-out forwards;
}
.cont-menu__checkbox:checked + .cont-menu__animate .cont-menu__check--icon {
  animation: check-rot 1s ease-in-out forwards;
}
.menu-text {
  width: 80%;
}
.menu-price {
  font-size: 0.9em;
  font-weight: bold;
  display: flex;
  align-items: flex-end;
  margin: 0px 0px 10px;
}

.cont-menu__check {
  width: 60px;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 1.2em;
  font-weight: bold;
  background-color: $color-tertiary;
  border-bottom-right-radius: 15px;
  border-top-right-radius: 15px;
  position: absolute;
  top: 0;
  right: -60px;
}
.cont-menu__check i:hover {
  animation: check-rot 0.6s ease-in;
}
@keyframes check-pos {
  0% {
    right: -60px;
  }
  100% {
    right: 0px;
  }
}
@keyframes check-rot {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes check-reduc {
  0% {
    width: 100%;
  }
  100% {
    width: calc(100% - 60px);
  }
}
.img-menu2 {
  @include img-menu;
  background-image: url(../images/la_note_enchantee.jpg);
}
.img-menu3 {
  @include img-menu;
  background-image: url(../images/a_la_francaise.jpg);
}
.img-menu4 {
  @include img-menu;
  background-image: url(../images/le_delice_des_sens.jpg);
}
.btn-cmd {
  width: 50%;
  height: 50px;
  color: white;
  font-size: 1.2em;
  margin-top: 40px;
  margin-bottom: 60px;
  border-radius: 20px;
  border: none;
  background: linear-gradient($color-secondary, $color-primary);
  &:hover {
    opacity: 0.9;
    box-shadow: 3px 3px 6px black;
  }
}
