.load-page {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  height: 100%;
  background-color: $color-tertiary;
  transform: scale(0);
  animation: load-page 3s;
}
.load-spinner {
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100px;
  height: 100px;
  transform: translate(-50%, -50%);

  & div {
    position: absolute;
    width: 7px;
    height: 7px;
    background: $color-tertiary-dark;
    box-shadow: 1px 1px 1px $color-secondary;
    border-radius: 50%;
    opacity: 0;
    animation: load-spinner 3s linear 3s;
  }
}
.load-spinner div:nth-child(1) {
  animation-delay: 0s;
  top: 37px;
  left: 66px;
}
.load-spinner div:nth-child(2) {
  animation-delay: -0.1s;
  top: 22px;
  left: 62px;
}
.load-spinner div:nth-child(3) {
  animation-delay: -0.2s;
  top: 11px;
  left: 52px;
}
.load-spinner div:nth-child(4) {
  animation-delay: -0.3s;
  top: 7px;
  left: 37px;
}
.load-spinner div:nth-child(5) {
  animation-delay: -0.4s;
  top: 11px;
  left: 22px;
}
.load-spinner div:nth-child(6) {
  animation-delay: -0.5s;
  top: 22px;
  left: 11px;
}
.load-spinner div:nth-child(7) {
  animation-delay: -0.6s;
  top: 37px;
  left: 7px;
}
.load-spinner div:nth-child(8) {
  animation-delay: -0.7s;
  top: 52px;
  left: 11px;
}
.load-spinner div:nth-child(9) {
  animation-delay: -0.8s;
  top: 62px;
  left: 22px;
}
.load-spinner div:nth-child(10) {
  animation-delay: -0.9s;
  top: 66px;
  left: 37px;
}
.load-spinner div:nth-child(11) {
  animation-delay: -1s;
  top: 62px;
  left: 52px;
}
.load-spinner div:nth-child(12) {
  animation-delay: -1.1s;
  top: 52px;
  left: 62px;
}
@keyframes load-spinner {
  1%,
  20%,
  80%,
  99% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    opacity: 0;
  }
}
@keyframes load-page {
  0%,
  99% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
body {
  @include font-text;
  margin: 0;
  padding: 0;
}
h1 {
  @include font-logo;
  height: 65px;
  @include cont-center;
  margin: 0px;
}
.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $color-bg;
  height: 350px;
}
.home__search {
  width: 100%;
  height: 50px;
  @include cont-center;
  background-color: $color-bg-dark;

  box-shadow: inset 0px 11px 8px -10px silver;

  margin-top: 0px;
}
.home__search button,
.home__search input {
  border: none;
  background-color: transparent;
  font-size: 1em;
  font-weight: bold;
  @include font-text;
}
h2 {
  width: 70%;
  @include font-text-black;
  font-size: 1.4em;
  text-align: center;
  margin: 40px 0px 0px 0px;
  padding: 0px;
}
.home p {
  width: 90%;
  @include font-text-thin;
  @include cont-center;
  text-align: center;
  font-size: 1em;
  margin-top: 10px;
  margin-bottom: 40px;
}
.home__btn-explore {
  width: 60%;
  height: 50px;
  border-radius: 25px;
  border: none;
  color: white;
  font-weight: bold;
  background: linear-gradient(#ff79da, #9356dc);
  box-shadow: 2px 4px 8px silver;
  &:hover {
    opacity: 0.9;
    box-shadow: 4px 4px 8px black;
  }
}
.box-link {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: auto;
  width: 90%;
  @media (min-width: 500px) {
    align-items: center;
  }
}
h3 {
  width: 90%;
  font-size: 1.4em;
  @media (min-width: 1024px) {
    flex-direction: row;
    width: 100%;
  }
}
.box-link ol {
  counter-reset: etape;
  margin: 0px;
  padding: 0px;
  @media (min-width: 500px) {
    min-width: 50%;
  }
  @media (min-width: 1124px) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    min-width: 100%;
  }
}
.box-link__li {
  position: relative;
  width: 100%;
  @media (min-width: 1124px) {
    width: 30%;
  }
}
.box-link li {
  list-style-type: none;
  counter-increment: etape;
  margin: 0px 10px 50px 10px;
  padding-right: 10px;
  width: 93%;
  height: 70px;
  box-shadow: 1px 1px 5px silver;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 1.1em;
  font-weight: bold;
  &:hover {
    background-color: $color-primary-light;
  }
  @media (min-width: 1124px) {
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
  }
  &:before {
    content: counter(etape);
    @include cont-center;
    width: 30px;
    height: 30px;
    border-radius: 15px;
    background: $color-primary;
    margin-left: -10px;
    margin-right: 0px;
    color: white;
  }
}
.box-link i {
  margin: 0px 20px 0px 20px;
  font-size: 1.2em;
  color: silver;
  &:hover {
    color: $color-primary;
  }
}

h4 {
  margin: 0px;
}
.restaurants {
  width: 90%;
  margin-right: auto;
  margin-left: auto;
  @media (min-width: 1024px) {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
  }

  & p {
    @include font-text-thin;
    margin: 0px;
  }
}
.contains {
  width: 100%;
  height: 250px;
  border-radius: 15px;
  box-shadow: 1px 1px 3px silver;
  contain: content;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  position: relative;
  @media (min-width: 1024px) {
    width: 40%;
  }
}
.contains__text {
  display: flex;
  justify-content: space-between;
  margin: 10px 0px 0px 20px;
  &--titre {
    width: 60%;
    display: flex;
    flex-flow: column;
    align-content: center;
  }
}
.contains i {
  margin-right: 20px;
  font-size: 2em;
  cursor: pointer;
  position: absolute;
  right: 10px;
}
.heart-plein {
  opacity: 1;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  color: white;
  &:hover {
    background: -webkit-linear-gradient(#9356dc, #ff79da);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: heart-survol 2s;
    opacity: 1;
    text-shadow: none;
  }
}
@keyframes heart-survol {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.contains__img {
  width: 100%;
  height: 175px;

  &--new {
    width: 70px;
    height: 30px;
    background-color: $color-tertiary;
    font-size: 0.8em;
    @include cont-center;
    border-radius: 4px;
    color: $color-tertiary-dark;
    font-weight: bold;
    position: absolute;
    top: 20px;
    right: 20px;
  }
}
.contains__img img {
  width: 100%;
  height: 175px;
  object-fit: cover;
  object-position: center;
  margin: 0px;
  position: absolute;
}
footer {
  height: 160px;
  background-color: black;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0px;
  & ul {
    list-style-type: none;
    font-size: 0.8em;
    margin-top: 40px;
    padding-top: 20px;
    margin-left: 0px;
    color: white;
    & li {
      margin-bottom: 5px;
      & i {
        width: 25px;
      }
    }
  }
}
.footer_logo {
  @include font-logo;
  font-size: 1.1em;
  color: white;
  margin-bottom: 20px;
}
.contact a {
  text-decoration: none;
  color: white;
}
.contact a:hover {
  text-decoration: none;
  color: #9356dc;
}
