/*variables*/
$color-primary: #9356dc;
$color-secondary: #ff79da;
$color-tertiary: #99e2d0;
$color-bg: #f6f6f6;
$color-primary-light: lighten(#9356dc, 30%);
$color-tertiary-dark: darken(#99e2d0, 30%);

/*mixins*/
@mixin font-logo {
  font-family: shrikhandregular, "Courier New", Courier, monospace;
}
@mixin font-text {
  font-family: robotoregular, "Courier New", Courier, monospace;
}
@mixin font-text-black {
  font-family: robotomedium, "Courier New", Courier, monospace;
}
@mixin font-text-thin {
  font-family: robotothin, "Courier New", Courier, monospace;
}
@mixin cont-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
/*menu*/
@mixin img-menu {
  width: 100%;
  height: 270px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
