//variables//
$color-primary: #9356dc;
$color-secondary: #ff79da;
$color-tertiary: #99e2d0;
$color-bg: #f6f6f6;
$color-primary-light: lighten(#9356dc, 30%);
$color-tertiary-dark: darken(#99e2d0, 35%);
$color-bg-dark: darken(#f6f6f6, 5%);
$color-shadow-dark: darken(#f6f6f6, 15%);
$color-shadow-dark-link: darken(#f6f6f6, 30%);

//mixins//
@mixin font-logo {
  font-family: shrikhandregular, "Courier New", Courier, monospace;
}
@mixin font-text {
  font-family: robotoregular, "Courier New", Courier, monospace;
}
@mixin font-text-black {
  font-family: robotomedium, "Courier New", Courier, monospace;
}
@mixin font-text-thin {
  font-family: robotothin, "Courier New", Courier, monospace;
}
@mixin cont-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
//menu//
@mixin img-menu {
  width: 100%;
  height: 270px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 0px;
}
@mixin btn-bg-gradient-shadow {
  height: 50px;
  border-radius: 25px;
  color: white;
  border: none;
  background: linear-gradient($color-secondary, $color-primary);
  box-shadow: 3px 2px 3px $color-shadow-dark;
  &:hover {
    opacity: 0.8;
    box-shadow: 4px 4px 6px $color-shadow-dark-link;
  }
}
